<section class="hero is-white">
  <h1 class="title has-text-centered">Signup</h1>

  <%= form_for(@user) do |f|%>
    <%= f.text_field :username, placeholder: "choose a username" %>
    <br>
    <%= f.text_field :email, placeholder: "your email address" %>
    <br>
    <%= f.password_field :password, placeholder: "enter a password" %>
    <br>
    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
    <br>
    <%= f.submit "Create account" %>
  <% end %>
