<section class="hero is-white">
  <h1 class="title has-text-centered">Start building on Makertrain</h1>

  <%= render 'shared/oauth_logins' %>
  <br>

  <div class="columns">
    <div class="column is-4 is-offset-4">
      <%= form_for(@user) do |f|%>

          <div class="form-group">
            <div class="field">
              <div class="control has-icons-right">
                <%= f.text_field :username, placeholder: "Choose a username", class: 'form-control' %>
                <span class="icon is-small is-right">
                  <i id="id_indicator">#<%= user_number %></i>
                </span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.text_field :email, placeholder: "Your email address", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.password_field :password, placeholder: "Enter a password", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.password_field :password_confirmation, placeholder: "Confirm password", class: 'form-control' %>
            </div>
          </div>

          <div class="field is-grouped d-flex justify-content-center">
            <div class="control">
              <%= submit_tag "Create an account", class: 'button is-link' %>
            </div><br>
            <div class="control">
              <%= link_to "I already have an account", login_path, class: 'button is-text' %>
            </div>
          </div>

      <% end %>
    </div>
  </div>
