<section class="<%=dashboard_hero_class_name%>" id="dashboard_hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">

        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks</p>
                <p class="title has-text-weight-semibold">
                  <%= @user.claimed_tasks_count %>
                </p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Open Tasks</p>
                <p class="title has-text-weight-semibold">
                  <%= @user.open_claimed_tasks_count %>
                </p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks Value</p>
                <p class="title has-text-success has-text-weight-semibold">
                  $<%= sprintf "%.2f", @user.claimed_task_value %>
                </p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pending Rewards</p>
                <p class="<%= pending_balance_class_name %>">
                  $<%= sprintf "%.2f", @user.pending_balance %>
                </p>
              </div>
            </div>
          </nav>

        </div>

      </div>
    </div>
  </div>
</section>
