<section class="container mt-4" id="dashboard-tasks-table-section">
  <% if @user.open_claimed_tasks_count > 0 %>

  <table class="table is-size-7">

    <thead>
      <tr>
        <th>Product</th>
        <th>Version</th>
        <th>Task Name</th>
        <th>Description</th>
        <th>Reward</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user_claimed_tasks.each do |task| %>
          <tr>
            <td>
              <%= link_to task.product.name, product_path(task.product.slug) %>
            </td>
            <td>
              <%= link_to task.version.version_number, product_version_path(task.product.slug, task.version.version_number), class: 'tag' %>
            </td>
            <td><strong><%= link_to task.name, product_version_task_path(task.product.slug, task.version.version_number, task.slug) %></strong></td>
            <td width="40%"><%= task.description %></td>
            <td>
              <strong class="has-text-success">
                $ <%= sprintf "%.2f", task.reward %>
              </strong>
            </td>
            <td>
              <%= task.status %>
            </td>
            <td>
              <% if task.status == "Completed" %>
              <a class=" button is-small is-success is-inverted" disabled>
                <strong><i class="fas fa-check-double has-text-success"></i> Complete +$<%=  sprintf "%.2f", task.reward %></strong>
              </a>
              <% elsif task.status == "PR Submitted" %>
              <a class=" button is-small is-inverted" disabled>
                <span><i class="fas fa-spinner fa-pulse"></i> PR Submitted</span>
              <% elsif task.status == "Reviewing" %>
              <a class=" button is-small is-warning" disabled>
                <span><i class="fas fa-spinner fa-pulse"></i> Reviewing</span>
              <% elsif task.status == "Accepted" %>
              <a class=" button is-small is-success is-inverted" disabled>
                <span><i class="fas fa-check has-text-success"></i> Accepted!</span>
              <% elsif task.status == "Rejected" %>
              <a data-target="#statusModal-<%=task.id%>" aria-haspopup="true" class="modal-button button is-small is-danger">
                <span><i class="fas fa-exclamation-triangle"></i> Submit New PR</span>
              </a>
              <%= render partial: '/shared/update_status_modal', locals: {task: task} %>
              <% else %>
              <a data-target="#statusModal-<%=task.id%>" aria-haspopup="true" class="modal-button button is-small is-inverted">
                Update status
              </a>
              <%= render partial: '/shared/update_status_modal', locals: {task: task} %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>

  <%= render 'shared/no_claimed_tasks_onboarding' %>

  <% end %>

</section>

<%= render 'shared/modal_open_and_close' %>
