<section class="<%=dashboard_hero_class_name%>" id="dashboard_hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <h1 class="title lead">
            <i class="em <%=@greeting[:emoji]%>"></i>
            <%= @greeting[:text] %>!
          </h1>
          <h1 class="subtitle">
              <% if !@user.has_no_claimed_tasks? %>
                <a class="badge badge-primary mt-4" href="/claimed_tasks"><%= tasks_to_work_on_text %></a>
              <% end %>

              <% if @user.has_items_for_review? %>
                <a class="badge badge-primary mt-4" href="/review_tasks"><%= open_tasks_for_review_text %></a>
              <% end %>
          </h1>
        </div>

        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks</p>
                <p class="title"><%= @user.open_claimed_tasks.count %></p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks Value</p>
                <p class="title has-text-success has-text-weight-semibold">
                  $<%= sprintf "%.2f", @user.claimed_task_value %>
                </p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pending Rewards</p>
                <p class="<%= pending_balance_class_name %>">
                  $<%= sprintf "%.2f", @user.pending_balance %>
                </p>
              </div>

            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Account Balance</p>
                <p class="tag is-dark is-large">
                  $<%= sprintf "%.2f", @user.balance %>
                </p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Tasks for Review</p>
                <p class="title has-text-weight-semibold"><%= @user.items_for_review_count %></p>
              </div>
            </div>

          </nav>

        </div>

      </div>
    </div>
  </div>
</section>
