<section class="jumbotron text-center">
    <h1 class="jumbotron-heading is-size-2"><%= "Welcome back, #{@user.name}" %></h1>
    <p class="lead text-muted">You have <%=@user.open_claimed_tasks_count > 0 ? @user.open_claimed_tasks_count : "no" %> tasks to work on right now.</p>
    <p>
      <%= link_to "Browse Products", products_path, class: "btn btn-secondary my-2" %>
      <%= link_to "Dashboard", dashboard_path, class: "btn btn-primary my-2" %>
      <%= link_to "Claimed Tasks", claimed_tasks_path, class: "btn btn-secondary my-2" %>
    </p>
</section>


<section class="row">
  <div class="col m-3">
    <div class="text-center">
      <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/code_review_l1q9.svg" class="h-200" alt="Build. Commit. Get paid." height="100">
    </div>

    <h2 class="lead text-muted mt-3"><strong>Build. Commit. Get paid.</strong></h2>
    <p>Claim engineering, marketing and design contribution rewards</p>
  </div>

  <div class="col m-3">
    <div class="text-center">
      <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/investing_7u74.svg" class="h-200" alt="Build. Commit. Get paid." height="100">
    </div>

    <h2 class="lead text-muted mt-3"><strong>$USD and Equity Rewards</strong></h2>
    <p>Seek out products and tasks with rewards you care most about</p>
  </div>

  <div class="col m-3">
    <div class="text-center">
      <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/i_can_fly_7egl.svg" class="h-200" alt="Build. Commit. Get paid." height="100">
    </div>

    <h2 class="lead text-muted mt-3"><strong>Build Up to <em>Full-Time Maker</strong></h2>
    <p>Escape trading time for money through a product that supports you</p>
  </div>


</section>
