<nav class="navbar container" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-link " href="/">
      <strong>Makertrain</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Discover", products_path, class: 'navbar-item' %>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <span class="badge badge-pill badge-dark">Logged in as <%= @user.username %></span>
      </div>
      <%= link_to "Dashboard", dashboard_path, class: 'navbar-item' %>

      <div class="navbar-item">
        <div class="dropdown open">
          <div type="button" id="dropdownMenu3" data-toggle="dropdown">
            <img src="<%= @user.avatar_url %>">
          </div>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">My Products</h6>
            <% if !@user.products.empty? %>
              <% @user.products.each do |product| %>
                <% unless product.id.nil? %>
                  <%= link_to product.name, product_path(product), class: 'dropdown-item' %>
                <% end %>
              <% end %>
            <% else %>
              <a class="dropdown-item disabled">No products</a>
            <% end %>
            <h6 class="dropdown-header">My Tasks</h6>
            <% @user.claimed_tasks.each do |task| %>
              <a class="dropdown-item" href="/products/<%=task.product.id%>/versions/<%= task.version.version_number %>/tasks/<%=task.id%>"><%=task.name%></a>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to "Profile Settings", edit_user_path(@user), class: "dropdown-item" %>
          </div>
        </div>
      </div>

      <div class="navbar-item">
        <div class="dropdown open">
          <button class="btn btn-primary btn-circle btn-circle-sm"
                  type="button" id="dropdownMenu3" data-toggle="dropdown"
                  >
            <i class="fas fa-plus"></i>
          </button>
          <div class="dropdown-menu">
            <%= link_to "New Product", new_product_path, class: 'dropdown-item' %>
          </div>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Log Out", logout_path, class: 'button is-light' %>
        </div>
      </div>
    </div>
  </div>
</nav>
