<nav class="navbar container" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-link " href="/">
      <strong>Makertrain</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Discover", products_path, class: 'navbar-item' %>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="badge badge-pill badge-dark" href="/users/<%=@user.id%>">Logged in as <%= @user.name %></a>
      </div>
      <%= link_to "Dashboard", dashboard_path, class: 'navbar-item' %>

      <div class="navbar-item">
        <div class="dropdown open">
          <div type="button" id="dropdownMenu3" data-toggle="dropdown">
            <img src="<%= @user.avatar_url %>">
          </div>
          <div class="dropdown-menu">
            <h6 class="dropdown-header heading">My Product Portfolio</h6>
            <% if !@user.products.empty? %>
              <% @user.products.first(5).each do |product| %>
                <% unless product.id.nil? %>
                <div class="dropdown-item">
                  <%= link_to product.name, product_path(product.slug) %>
                  <span class="tag is-link is-pulled-right"><%= link_to  product.latest_version_number, product_version_path(product.slug,product.latest_version_number), class: 'has-text-white' %></span>
                </div>
                <% end %>
              <% end %>
              <div class="dropdown-item">
                <%= link_to "Browse Portfolio", portfolio_path %>
              </div>
            <% else %>
              <a class="dropdown-item disabled">No products</a>
            <% end %>
            <div class="dropdown-divider"></div>

            <h6 class="dropdown-header heading">My Tasks <small>(<%= money(@user.claimed_task_value) %>)</small></h6>
            <% @user.claimed_tasks.first(10).each do |task| %>
              <div class="dropdown-item">

                <%= link_to task.name, product_version_task_path(task.product.slug, task.version.version_number, task.slug) %>
                <span class="tag is-success is-small is-pulled-right">
                  <%=link_to money(task.reward), claimed_tasks_path, class: 'has-text-white'%>
                </span>
              </div>

            <% end %>
              <div class="dropdown-item">
                <%= link_to "Browse All Claimed Tasks", claimed_tasks_path %>
              </div>
            <div class="dropdown-divider"></div>
            <%= link_to "Profile Settings", edit_user_path(@user), class: "dropdown-item" %>
          </div>
        </div>
      </div>

      <div class="navbar-item">
        <div class="dropdown open">
          <button class="btn btn-primary btn-circle btn-circle-sm"
          type="button" id="dropdownMenu3" data-toggle="dropdown">
            <i class="fas fa-plus"></i>
          </button>
          <div class="dropdown-menu">
            <%= link_to "New Product", new_product_path, class: 'dropdown-item' %>
          </div>
        </div>
      </div>

      <div class="navbar-item">
        <div class="buttons">
          <%= link_to "Log Out", logout_path, class: 'button is-light' %>
        </div>
      </div>
    </div>
  </div>
</nav>
