<section>
  <table class="table">
    <thead class="head-light">
      <tr>
        <th>Product</th>
        <th>Maker</th>
        <th><%= @pretty_latest_version_number %> Progress</th>
        <th>Available Rewards</th>
        <th><%= @latest_version_number %> Contributors</th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <%= render partial: '/shared/version_contributors_modal', locals: { product: product, version: product.latest_version } %>

      <tr>
        <td>
          <%= link_to product.name, product_path(product.slug) %>
          <%= link_to "#{product.latest_version_number}", product_version_path(product.slug, product.latest_version_number), class: 'tag is-link is-small' %>
          <span class="tag is-small"><%= product.status %></span>
        </td>
        <td><%= link_to product.user.username, user_path(product.user) %></td>
        <td>
          <%= render partial: '/shared/progress_bar', locals: {product: product} %>
        </td>
        <td><%= link_to "#{money(product.latest_version.available_rewards)}", product_version_path(product.slug, product.latest_version_number), class: 'tag is-success is-bold' %></td>
        <td>
          <a data-target="#contributorsModal" aria-haspopup="true" class=" modal-button tag">
            contributors
          </a>
        </td>
      </tr>


      <% end %>
    </tbody>
  </table>
</section>
