<!-- Start Status modal -->
<div class="modal" id="reviewTaskModal-<%= task.id %>">
  <div class="modal-background"></div>
  <div class="modal-card">
    <div class="modal-card-head">
      <p class="modal-card-title">
        <strong class="has-text-link"><%=task.name%></strong>
      </p>
      <button class="delete" aria-label="close"></button>
    </div>

    <div class="modal-card-body">
      <div class="container has-text-centered">
        <div class="column is-vcentered">
          <p class="content has-text-centered">
            <a target="_blank" class="btn btn-large btn-primary" href="http://<%= task.pr_link %>">Review this pull request</a>
          </p>

          <p class="content is-size-4 has-text-justified">
            Mark this as <span class="tag is-success">Completed</span> if this PR satisfies your spec. Otherwise, you can mark it as <span class="tag is-danger">Rejected</span> and <a class="has-text-weight-semi-bold" href="/users/<%=task.user.id%>"><%= task.user.username %></a> will be able to resubmit a new solution.
          </p>
        </div>

        <!-- Form Start -->
        <div class="columns">
          <div class="column is-3">
            <input type="text" class="input" value="<%= task.status %>" disabled>
          </div>

          <div class="mt-3">
            <p class="has-text-centered">
              <i class="fas fa-lg fa-angle-double-right"></i>
            </p>
          </div>


          <div class="column">
            <%= form_tag review_task_path, class: 'form-inline' do %>

            <div class="input-group mb-3">
              <%= hidden_field_tag "task_id", task.id %>
                <select id="status" class="form-control" name="status">
                  <div class="select">
                    <option value="Select a new status">Select a new status</option>
                    <% @review_status_list.each do |status| %>
                      <option <% if status == task.status %> class="is-active" <%end%> value="<%= status %>"><%= status %></option>
                    <% end %>
                  </div>
                </select>

                <div class="input-group-append ml-1">
                  <%= submit_tag 'Update task status', class: 'button is-link is-outlined', data: { confirm: "Are you sure you wish to update this task's status?"} %>
                </div>
            </div>

          <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Status Modal -->
