<!-- Start Status modal -->
<div class="modal" id="statusModal-<%=task.id%>">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <strong class="has-text-link"><%=task.name%></strong>
        <label class="label">Current Status: <%= task.status %></label>

      </p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="container has-text-centered">
        <div class="columns">
          <div class="column ">

            <%= form_tag update_status_path do %>
              <%= hidden_field_tag "task_id", task.id %>

            <div class="select is-medium">
              <select id="status" class="input" type="text" name="status" placeholder="Choose a status">
                <option value="Select a status">Select a status</option>
                <% @status_list.each do |status| %>
                <option <% if status == task.status %> selected <%end%> value="<%= status %>"><%= status %></option>
                <% end %>
              </select>
            </div>

          </div>

          <div class="column is-three-fifths">
            <div class="field">
              <p class="control">
                <%= text_field_tag "pr_link", nil, class: 'form-control form-control-lg', placeholder: "Pull Request URL (When Ready)" %>
              </p>
            </div>
          </div>

        </div>

        <div class="columns">
          <div class="column ">
            <!-- Start Update Status button -->
            <%= submit_tag "Update status", class: 'btn btn-primary is-medium' %>
            <% end %>
            <!-- End update status button -->
          </div>
        </div>

        <!-- Start give up on task button -->
        <div class="column">
            <div>
              <div class="card">
                <div class="card-body">
                  <p class="heading">Task too challenging or not a good fit?</p>

                  <%= form_tag give_up_path do %>
                    <%= hidden_field_tag "task_id", task.id %>
                    <%= submit_tag 'Give up on this task', class: 'button is-danger is-outlined is-small mt-2', data: { confirm: 'Are you sure you wish to give up on ths task? Someone else will be able to claim it.'} %>
                  <% end %>

                </div>
              </div>
            </div>
        </div>
        <!-- End give up on task button -->
      </div>
    </section>


    <footer class="modal-card-foot">



    </footer>
  </div>
</div>
<!-- End Status Modal -->
