<!-- Start versions table -->
<% if @version.has_at_least_one_persisted_task? %>
  <section class="container mt-4" id="version-tasks-table-section">
    <div class="card">
      <div class="card-body">
        <% if current_user.is_owner_of?(@version.product) %>
          <a data-target="#taskModal" aria-haspopup="true" class="button is-small modal-button is-pulled-right">New task</a>
        <% end %>

        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Description</th>
              <th>Reward</th>
              <th>Contributor</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% @version.tasks_claimable_first.each do |task| %>
             <% if task.persisted? %>
                <tr>
                  <td><a href="/products/<%= @product.slug %>/versions/<%= @version.version_number %>/tasks/<%= task.slug %>"><%= task.name %></a>
                  </td>
                  <td><%= task.description %></td>
                  <td>
                    <strong class="has-text-success">
                      $<%= sprintf "%.0f", task.reward %>
                    </strong>
                  </td>
                  <td>
                    <% if task.user.nil? %>
                    <span data-target="#claimModal-<%= task.id %>" aria-haspopup="true" class="title modal-button button is-success is-small">
                      Claim
                    </span>

                    <!-- Start Claim modal -->
                    <%= render partial: '/shared/version_claim_task_modal', locals: { task: task } %>
                    <!-- End Claim Modal -->

                    <% else%>
                    <a href="/users/<%= task.user %>">
                      <%= task.user.name %>
                    <% end %>
                    </a>
                  </td>
                  <td><%= task.status %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
<% end %>
<!-- End versions table -->
