<% if logged_in? %>

<div class="modal" id="claimModal-<%= task.id %>">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <strong class="has-text-link"><%=task.name%></strong>
      </p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="container ">
        <div class="column">
          <p class="headline">
            <strong>Do you want to claim this task?</strong>

            <span class="is-small">To earn this task's $<%= task.reward%> reward, you'll have to submit a Github pull request and provide that link. If accepted by the owner of the product, your reward will be added to your balance.</span>
          </p>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot d-flex justify-content-center py-5">

      <%= form_tag claim_path do %>
        <%= hidden_field_tag "task_id", task.id %>
        <%= submit_tag "Claim this task", class: 'button is-link is-large' %>
      <% end %>

    </footer>
  </div>
</div>

<% else %>

  <%= render partial: '/shared/logged_out_modal', locals: { task: task } %>

<% end %>
