<!-- Start contributors modal -->

<div class="modal" id="contributorsModal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Makers contributing to <%= product.name%> <%= version.version_number %></p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="container has-text-centered">
        <div class="columns">
          <% if version.tasks.empty? %>
          <div class="column">
            <p>This project can't have contributors if it doesn't have any tasks</p>
          </div>
          <% elsif product.latest_version_contributor_count == 0%>
          <div class="column">
            <p><%= "#{product.name} #{version.version_number}" %> doesn't have any contributors yet.</p>
            <p class="mt-4"><%= link_to "Browse #{product.name}  #{product.latest_version_number}", product_version_path(product.slug, product.latest_version_number), class: "tag is-large is-link" %></p>
          </div>
          <% else %>
            <% if !version.tasks.empty? && version.unique_contributors.nil?%>
            <div class="column has-text-centered">
              <p>
                <span class="tag is-link is-large">
                  There are currently <%= version.open_tasks.count %> open tasks for <%= product.name %> <%= version.version_number %>.
                </span>
                <br>
                Close this window and claim a task to start earning. &#128176;
              </p>
            </div>

              <% else %>
              
                <% version.unique_contributors.each do |contributor| %>
                  <div class="column is-one-third">
                    <div class="card">
                      <div class="card-body">
                        <p class="subtitle">
                          <a href="/users/<%= contributor %>"><%= contributor.name %></a>
                        </p>
                        <p class="small">
                          Making since <%= contributor.created_at.strftime("%B  %Y") %>
                        </p>
                      </div>

                    </div>
                  </div>
                <% end %>


            <% end %>
          <% end %>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
    </footer>
  </div>
</div>

<!-- End Contributors Modal -->
