<h1 class="title has-text-centered"><%= current_user.name%> is creating <%= @product.next_version_number %> of <%=@product.name%>! &#127894;</h1>

<div class="column is-half is-offset-one-quarter">

  <%= form_for @version, html: { class: "form" } do |f| %>
    <%= f.hidden_field :product_id %>

    <div class="field">
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-code-branch"></i>
        </span>
        <input class="input" type="text" name="version_number" value="<%=@product.next_version_number%>" disabled>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-calendar-check"></i>
        </span>
        <%= f.text_field :release_date, class: 'input', placeholder: "Enter the expected release date for #{@product.next_version_number} (i.e. January 1, 2020)" %>
      </div>
    </div>

    <div class="field medium">
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-comment-dollar"></i>
        </span>
        <%= f.text_area :description, placeholder: "Describe the new features and benefits of #{@product.name} #{@product.next_version_number}", class: "input textarea" %>
      </div>
    </div>

    <div class="field">
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-dollar-sign"></i>
        </span>
        <%= f.number_field :planned_budget, placeholder: 'What is your budget for this version?', class: 'input' %>
      </div>
    </div>

    <div class="field">
      <div class="control has-text-centered">
        <%= f.submit "Create #{@product.next_version_number} of #{@product.name}", class: 'button is-link is-medium is-outlined' %>
      </div>
    </div>

  <% end %>

</div>
