<section class="hero <% if @greeting[:text] == "Have a productive day" || @greeting[:text] == "Good afternoon" %> is-light <%else%> is-dark <% end %> is-bold" id="dashboard_hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <%= @greeting[:text] %>, <%= @user.username + " #{@greeting[:emoji]}" %>
          </h1>
          <h2 class="subtitle">
              <% if @owned_products == 0 %>
                You haven't created any products for you to plan.
                <a href="/products/new" class="tag is-primary">Create a product</a>
              <% else %>
              <p class="content">
                <span class="tag is-dark">You manage <%= @owned_products %> product<%= "s" if @owned_products > 1 %></span>
              <% end %>

              <% if @user.open_claimed_tasks_count > 0 %>
                <span class="tag is-link">There <%= "are" if @user.open_claimed_tasks.count > 1 %><%= "is" if @user.open_claimed_tasks.count == 1 %> <%= @user.open_claimed_tasks.count %> open claimed task<%= "s" if @user.open_claimed_tasks.count > 1 %> to work on</span>
              <% else %>
                <span class="tag is-dark">You haven't claimed any tasks to work on yet</span>
              <% end %>

              <% if @user.has_items_for_review? %>
                <span class="tag is-warning">You have <%= @user.tasks_for_review.count %> open task<%= "s" if @user.tasks_for_review.count > 1 %> to review</span>
              <% else %>
                <span class="tag is-dark">Your products don't have any task submissions to review right now</span>
              <% end %>

            </p>

          </h2>
        </div>

        <div class="column">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks</p>
                <p class="title"><%= @user.open_claimed_tasks.count %></p>
              </div>
            </div>

            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Claimed Tasks Value</p>
                <p class="title has-text-success has-text-weight-semibold">
                  $<%= sprintf "%.2f", @user.claimed_task_value %>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Pending Rewards</p>
                <p class="tag <% if @user.pending_balance > 0 %>is-warning<%else%>is-dark<%end%> is-large">
                  $<%= sprintf "%.2f", @user.pending_balance %>
                </p>
              </div>
            </div>
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">Account Balance</p>
                <p class="tag is-dark is-large">
                  $<%= sprintf "%.2f", @user.balance %>
                </p>
              </div>
            </div>
          </nav>

        </div>

      </div>
    </div>
  </div>
</section>
